
button:hover {
    background-color:aquamarine;
}

p {

    height: 150px;
    width: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    margin: 10px;
    text-align: justify;
}

tr:nth-child(even)
{
    Background-color: black;
}
tr:nth-child(even)
{
    Background-color: white;

}
tr:nth-child(r1)
{
    Background-color: #2aabd2;
}